$black: rgba(0,0,0,1);
$white: rgba(255,255,255,1);
$grey: rgba(255,255,255,0.2);



$body-bg: $black;
$body-color: $white;
$input-bg: $black;
$input-color: $white;
$input-border-color: $grey;
$input-focus-border-color: $white;
$input-btn-focus-box-shadow: $grey;
$border-radius: 0px;
$border-radius-lg: 0px;
$border-radius-sm: 0px;